# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

# custom files with API keys
generate_sentences.js
debug_models.js
service-account.json
updateVocab.ts
